@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
}